<template>
  <textarea ref="codemirror" />
</template>
<script>
import 'codemirror/mode/vue/vue'
import CodeMirror from 'codemirror/lib/codemirror.js'

export default {
  props: ['source'],
  watch: {
    source() {
      if (this.codemirror) {
        this.codemirror.getDoc().setValue(this.source)
      }
    }
  },
  mounted() {
    if (!this.codemirror) {
      this.codemirror = CodeMirror.fromTextArea(this.$refs.codemirror, {
        mode: 'vue',
        readOnly: true,
        cursorBlinkRate: 0,
        viewportMargin: Infinity
      })
      this.codemirror.getDoc().setValue(this.source)
    }
  }
}
</script>
<style>
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
</style>
