<template>
  <gl-form>
    <gl-form-group label="User Name:" label-for="input-1">
      <input
        id="input-1"
        ref="username"
        class="gl-form-input form-control"
        :value="value.username"
        placeholder="username"
        @input="updatePerson()"
      />
    </gl-form-group>
    <gl-form-group label="Link to GitLab Profile:" label-for="input-2">
      <input
        id="input-2"
        ref="profile"
        class="gl-form-input form-control"
        required
        placeholder="Enter profile"
        :value="value.profile"
        @input="updatePerson()"
      />
    </gl-form-group>
    <gl-form-group label="Avatar:" label-for="input-4">
      <input
        id="input-4"
        ref="avatar"
        class="gl-form-input form-control"
        required
        placeholder="Enter Avatar URL"
        :value="value.avatar"
        @input="updatePerson()"
      />
    </gl-form-group>
    <gl-form-group id="input-group-3" label="Biography:" label-for="input-3">
      <textarea
        id="input-3"
        ref="biography"
        class="gl-form-input gl-form-textarea form-control"
        :value="value.biography"
        required
        @input="updatePerson()"
      />
    </gl-form-group>
  </gl-form>
</template>
<script>
import { GlForm, GlFormGroup } from '@gitlab/ui'

export default {
  components: {
    GlForm,
    GlFormGroup
  },
  props: ['value'],
  methods: {
    updatePerson() {
      const newPerson = {
        avatar: this.$refs.avatar.value,
        username: this.$refs.username.value,
        profile: this.$refs.profile.value,
        biography: this.$refs.biography.value
      }
      this.$emit('input', newPerson)
    }
  }
}
</script>
