<template>
  <div>
    <a :href="profile" target="_blank">
      <gl-avatar-labeled :src="avatar" :label="`@${username}`" />
    </a>
    <hr />
    <div v-html="biography" />
  </div>
</template>
<script>
import { GlAvatarLabeled } from '@gitlab/ui'

export default {
  components: {
    GlAvatarLabeled
  },
  props: ['avatar', 'biography', 'profile', 'username']
}
</script>
