<template>
  <div>
    <a :href="profile" target="_blank">
      <gl-avatar-labeled :src="avatar" :label="`@${username}`" />
    </a>
    <hr />
    <div v-html="cleanBiography" />
  </div>
</template>
<script>
import DOMPurify from 'dompurify'
import { GlAvatarLabeled } from '@gitlab/ui'

export default {
  components: {
    GlAvatarLabeled
  },
  props: ['avatar', 'biography', 'profile', 'username'],
  computed: {
    cleanBiography() {
      return DOMPurify.sanitize(this.biography)
    }
  }
}
</script>
