<template>
  <div id="vulnerable" />
</template>
<script>
import $ from 'jquery'

export default {
  props: ['biography'],
  watch: {
    biography() {
      this.update()
    }
  },
  mounted() {
    this.update()
  },
  methods: {
    update() {
      $('#vulnerable').html(this.biography)
    }
  }
}
</script>
