<template>
  <div>
    <a v-safe-link :href="profile" target="_blank">
      <gl-avatar-labeled :src="avatar" :label="`@${username}`" />
    </a>
    <hr />
    {{ biography }}
  </div>
</template>
<script>
import { GlSafeLinkDirective as SafeLink, GlAvatarLabeled } from '@gitlab/ui'

export default {
  directives: { SafeLink },
  components: {
    GlAvatarLabeled
  },
  props: ['avatar', 'biography', 'profile', 'username']
}
</script>
