<template>
  <a v-if="isSafeURL" :href="profile">
    {{ profile }}
  </a>
  <code v-else> Unsafe URL: {{ profile.replace(/http/, 'hxxp') }} </code>
</template>
<script>
import { GlSafeLinkDirective as SafeLink } from '@gitlab/ui'

export default {
  directives: { SafeLink },
  components: {},
  props: ['profile'],
  computed: {
    isSafeURL() {
      try {
        const url = new URL(this.profile)
        console.log(url)
        return (
          ['https:', 'http:'].includes(url.protocol) &&
          url.hostname.endsWith('gitlab.com')
        )
      } catch (e) {
        return false
      }
    }
  }
}
</script>
