<template>
  <main>
    <section class="xss--input">
      <h2>Input</h2>
      <person-form v-model="person" />
      <h2>Controls</h2>
      <label>
        Component:
        <select v-model="component">
          <option v-for="v in views" :key="v" :value="v">{{ v }}</option>
        </select>
      </label>
      <label>
        Data:
        <select v-model="dataset">
          <option
            v-for="(v, name) in $options.datasets"
            :key="name"
            :value="name"
            >{{ name }}</option
          >
        </select>
      </label>
    </section>
    <section class="xss--source">
      <h2>Source</h2>
      <code>{{ component }}.vue</code>
      <code-mirror v-if="source" :source="source" />
    </section>
    <section class="xss--rendered">
      <h2>Rendered</h2>
      <component
        :is="component"
        :avatar="person.avatar"
        :biography="person.biography"
        :username="person.username"
        :profile="person.profile"
      />
    </section>
  </main>
</template>

<script>
import PersonForm from '~/components/Form.vue'
import CodeMirror from '~/components/CodeMirror.vue'
import Default from '~/components/display/Default.vue'
import DomPurify from '~/components/display/DomPurify.vue'
import SafeLink from '~/components/display/SafeLink.vue'
import SafeLinkVersion2 from '~/components/display/SafeLinkVersion2.vue'
import JQuery from '~/components/display/JQuery.vue'

const defaultPerson = {
  avatar:
    'https://secure.gravatar.com/avatar/19a1f1260fa70323f35bc508927921a2?s=96',
  username: 'leipert',
  biography: '<strong>Lukas loves Vue</strong>',
  profile: 'https://gitlab.com/leipert'
}

const datasets = {
  default: defaultPerson,
  xssLink: {
    ...defaultPerson,
    profile: 'javascript:alert("XSS!")'
  },
  xssHTML: {
    ...defaultPerson,
    biography: `<a onmouseover=alert('XSS')>${defaultPerson.biography}</a>`
  },
  xssJQuery: {
    ...defaultPerson,
    biography: `<style><style/><a onmouseover=alert('XSS')>${defaultPerson.biography}</a>`
  }
}

export default {
  components: {
    CodeMirror,
    PersonForm,
    SafeLink,
    Default,
    DomPurify,
    SafeLinkVersion2,
    JQuery
  },
  datasets,
  data() {
    return {
      views: ['Default', 'SafeLink', 'DomPurify', 'SafeLinkVersion2', 'JQuery'],
      person: datasets.default,
      component: 'Default',
      source: '',
      dataset: 'default'
    }
  },
  watch: {
    component() {
      this.loadSource()
    },
    dataset(newValue) {
      this.person = datasets[newValue]
    }
  },
  mounted() {
    this.loadSource()
  },
  methods: {
    async loadSource() {
      const res = await fetch(`/components/display/${this.component}.vue`)
      this.source = await res.text()
    }
  }
}
</script>

<style scoped>
h2 {
  margin-bottom: 1rem;
}

code {
  margin-bottom: 1rem;
  display: block;
}

main {
  padding: 2.5rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main > * {
  width: 33%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 1rem;
  height: 90vh;
}

.xss--input {
  max-width: 30rem;
}

.xss--rendered {
  max-width: 30rem;
}

.xss--input,
.xss--source {
  border-right: 1px solid black;
}
</style>
